<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
    <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
            <img class="img-fluid w-100" src="/images/{{productId}}/{{this.imagepath}}" style="object-fit: cover; height: 330px;"/>
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
            <h6 class="text-truncate mb-3"><a href="/product/{{productId}}" >{{productTitle}}</a></h6>
            <div class="d-flex justify-content-center">
                <h6>&#8360; </b>{{price}}</h6>
                {{!-- <h6 class="text-muted ml-2"><del>&#8360; </b>{{price}}</del></h6> --}}
            </div>
        </div>
    </div>
</div>